<head>
    <title>Email template</title>
    <link href="email.css" rel="stylesheet">
</head>
<html>
<body>
<div class="background">
    <div class="content-box">
        <h1>Welcome in App Open!</h1>
        <div class="info-box">
            <p>You have been added as a player to the score board of the tournament:</p>
            <h4>{{ body.tournament_title }}</h4>
            <div class="divider"></div>
            <p style="margin-bottom: 30px;">Use following password to update your live matches results:</p>
            <h4>{{ body.tournament_password }}</h4>
            <div class="divider"></div>
            <a href="{{ body.tournament_link }}" target="_blank">Go to the board</a>
        </div>
    </div>
</div>
</body>
</html>
